/*
    My base css file
/*! This comment will always be visible, even with compression */
* {
    font-family: $font-main;
    color: $black;
}


body {
    width: 960px;
}
.row div {
    //display: inline-block;
    outline: 1px solid $gray;
    width: 50px;
    with: 60px;

}
