// variables.scss

// my selection of fonts from Google fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);




$font-main: 'Raleway', sans-serif;
$font-alt: 'Roboto', sans-serif;
// color set
$black: black;
$red: red;
$green: green;
$gray: gray;
$dgray: darkgray;
$yellow: yellow;
$white: white;

$clr-primary: #184026;
$clr-secondary: #317F4B;
$clr-menu: #57E587;
$clr-menu-sub: #49BF71;
